.info {
  background-image: url(../assets/img/Group11111111111111.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.info .container {
  box-shadow: 0 0 20px 0 rgba(66, 74, 72, 0.05);
  background: var(--text-tertiary);
  padding: 32px 32px 32px 50px;
  margin-top: 24px;
  border-radius: 18px;
}
.info__main {
  box-shadow: 0 0 20px 0 rgba(66, 74, 72, 0.05);
  background: var(--text-tertiary);
}
.info__title {
  font-family: "Onest";
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: var(--text-main);
  margin-bottom: 8px;
  text-align: left;
}
.info__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.01em;
  color: var(--text-main);
  margin-bottom: 7px;
  text-align: left;
}
.info__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style: outside;
  padding-left: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.01em;
  color: var(--text-main);
  text-align: left;
}
