.section__text {
  max-width: 218px;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.01em;
  color: var(--text-main);
}
.section__items {
  max-width: 384px;
  display: flex;
  width: calc(100% / 3 - 18px);
  align-items: center;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(66, 74, 72, 0.05);
  background: var(--text-tertiary);
  gap: 16px;
}
