.section {
  margin-top: 91px;
  background-image: url(/assets/img/Group\ 17.png),
    url(/assets/img/Group\ 18.png);
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px, bottom 0px right 0px;
  border-bottom: 1px solid var(--surface-secondary);
  padding-bottom: 79px;
}

.section__title {
  overflow: visible;
  font-family: "Onest";
  font-weight: 500;
  /* font-size: 88px; */
  font-size: clamp(40px, 10vw, 88px);
  line-height: 86%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--text-main);
  position: relative;
}
.section__title::after {
  content: "";
  width: 50px;
  height: 49px;
  position: absolute;
  background-image: url(/assets/img/Group5.svg);
  background-repeat: no-repeat;
  right: 38px;
  top: -26px;
}
.section__posttitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--text-main);
  width: 588px;
  margin: 0 auto;
  margin-top: 24px;
}
.section__wraps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
}

.section__btn {
  border-radius: 100px;
  padding: 16px 42px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--text-tertiary);
  background: var(--text-brand);
  display: block;
  margin: 0 auto;
  margin-top: 64px;
}

.section__btnmain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
}

.aside {
  background-image: url(/public/assets/img/Group.svg),
    url(/public/assets/img/Group1.svg);
  background-position: left bottom 68px, right bottom;
  background-repeat: no-repeat;
}

.aside__head {
  font-family: "Onest";
  font-weight: 500;
  font-size: 74px;
  line-height: 84%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--text-main);
  margin-top: 80px;
  margin-bottom: 52px;
}
.aside__wraps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 35px;
  padding-bottom: 79px;
}
.aside__items {
  border-radius: 18px;
  padding: 32px;
  box-shadow: 0 0 20px 0 rgba(66, 74, 72, 0.05);
  background: var(--text-tertiary);
  display: flex;
  gap: 24px;
  width: 100%;
}
.aside__items img {
  width: 48px;
  height: 48px;
}
.aside__title {
  font-family: "Onest";
  font-weight: 500;
  font-size: 24px;
  color: var(--text-main);
}
.aside__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.01em;
  color: var(--text-main);
  margin-top: 6px;
}
.last__title {
  text-align: center;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 74px;
  line-height: 84%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--text-main);
}
.aside__head,
.stepsection__title,
.global__head,
.last__title {
  font-size: clamp(32px, 5vw, 74px);
}
