.global {
  margin-top: 69px;
}
.global__img {
  width: 340px;
  height: 142px;
  display: none;
}
.global .container {
  width: 100%;
  max-width: 1270px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.global__wraps {
  padding: 80px 80px 80px 80px;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 520px;
  background-size: contain;
}
.global__title {
  font-family: "Onest";
  font-weight: 500;
  font-size: 40px;
  line-height: 115%;
  letter-spacing: -0.01em;
  color: var(--text-main);
  width: 630px;
  text-align: left;
}
.global__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.01em;
  color: var(--text-main);
  width: 528px;
  text-align: left;
}

.global__head {
  font-family: "Onest";
  font-weight: 500;
  font-size: 74px;
  line-height: 84%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--text-main);
  margin-bottom: 10px;
}
