.footer {
  margin-bottom: 40px;
}

.topfooter__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.topfooter .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 71px;
  border-bottom: 1px solid #edf0ef;
  padding-bottom: 20px;
}
.topfooter__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: var(--text-main);
  text-align: left;
}
.topfooter__tel {
  font-family: "Onest";
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: var(--text-brand);
}

.bottomfooter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}
.bottomfooter__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.01em;
  color: var(--text-secondary);
}
.bottomfooter__wraps {
  display: flex;
  align-items: center;
  gap: 32px;
}
.bottomfooter__items {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.01em;
  color: var(--text-main);
}
.bottomfooter__items_bg {
  color: var(--state-surface-brandhover);
}
