body {
  font-family: "Inter", sans-serif;
  background: #fafafa;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  min-width: 320px;
}
:root {
  --bg: #fafafa;
  --text-main: #1e1f1f;
  --text-secondary: #7e807f;
  --text-tertiary: #fff;
  --text-brand: #056b53;
  --surface---main: #fff;
  --surface-secondary: #edf0ef;
  --surface-brand: #056b53;
  --surface-tertiary: #1e1f1f;
  --surface-green: #b8e87c;
  --surface-pink: #f3d1ff;
  --surface-yellow: #fcebba;
  --icon-main: #656666;
  --state-surface-brandhover: #078f6f;
  --state---surface---brandactive: #045c47;
  --state---surface---tertiaryhover: #323333;
  --state---surface---tertiaryactive: #0f0f0f;
  --font-family: "Inter", sans-serif;
  --second-family: "Onest", sans-serif;
}
