@media (max-width: 1200px) {
  .section__wraps {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    justify-content: center;
    justify-items: center;
  }
  .section__items {
    width: 100%;
  }
  .section {
    margin-top: 40px;
    padding-bottom: 72.5px;
  }

  .global__text {
    width: 100%;
  }
  .section__text {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .header__text,
  .header__nav,
  .header__right {
    display: none;
  }
  .header__menu {
    display: block;
  }
  header .accordeon__heading,
  .section__posttitle {
    font-size: 18px;
  }

  .global__title,
  .article__title,
  .article__saleprice,
  .article__mainprice {
    font-family: "Onest";
    font-size: 33px;
  }
  .global__text {
    font-size: 16px;
  }

  .aside__title,
  .info__title,
  .info__global {
    font-size: 18px;
    font-family: "Onest";
  }
  .aside__text {
    font-size: 16px;
  }
  .article__btn {
    font-size: 14px;
  }


  .article .container {
    background-size: 374px, 450px;
  }

  .global__text {
    width: 100%;
  }
  .section__text {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .accordeon__heading,
  .section__posttitle,
  .topfooter__tel {
    font-size: 14px;
  }

  .global__title,
  .article__title,
  .article__saleprice,
  .article__mainprice {
    font-family: "Onest";
    font-size: 26px;
  }
  .global__text {
    font-size: 12px;
  }

  .aside__title,
  .info__title,
  .info__global {
    font-size: 14px;
    font-family: "Onest";
  }
  .aside__text {
    font-size: 12px;
  }
  .article__btn {
    font-size: 10px;
  }
  .bottomfooter__items {
    font-size: 10px;
  }
  .article .container {
    background-size: 300px, 360px;
  }
  .info__wraps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .global__title {
    width: 100%;
  }

  .global__text {
    width: 100%;
  }
  .section__text {
    width: 100%;
  }
}
@media (max-width: 610px) {
  .section__wraps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section__posttitle {
    width: 100%;
    max-width: 320px;
  }
  .article__title {
    font-size: 20px;
    font-family: var(--second-family);
    width: 224px;
  }
  .aside__wraps {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .section__posttitle,
  .topfooter__tel {
    font-size: 12px;
  }
  .section__posttitle {
    width: 100%;
    max-width: 320px;
  }
  .global__title,
  .article__title,
  .article__saleprice,
  .article__mainprice {
    font-family: "Onest";
    font-size: 20px;
  }
  .global__text {
    font-size: 10px;
  }

  .aside__title,
  .info__title,
  .info__global {
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: var(--text-main);
  }
  .aside__text {
    font-size: 14px;
  }
  .article__price {
    justify-content: center;
  }
  .article__btn {
    font-size: 16px;
    padding: 16px 32px;
    width: 280px;
    height: 52px;
    margin-top: 141px;
  }

  .bottomfooter__items {
    font-size: 8px;
  }
  .section__wraps {
    display: flex;
    flex-direction: column;
  }
  .aside__wraps {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  .info__wraps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .accordeon__cross img {
    width: 20px;
    height: 20px;
  }
  .global__wraps {
    padding: 0px;
    background: none;
    display: flex;
    flex-direction: column;
    min-height: 290px;
    align-items: center;
  }
  .global .container {
    gap: 24px;
    padding: 0px 10px;
  }
  .global__title {
    margin-top: 12px;
    padding: 0px 10px;
    text-align: center;
  }
  .global__text {
    width: 100%;
    font-size: 14px;
    margin-top: 8px;
    padding: 0px 10px;
  }
  .global__img {
    display: block;
  }
  .section__text {
    width: 100%;
  }
  .section__items img {
    width: 88px;
    height: 88px;
  }
  .article__title {
    width: 224px;
    text-align: center;
  }
  .article .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 48px;
    align-items: center;
  }
  .step:nth-child(even)::after {
    right: 40px;
  }
  .step::after {
    right: 16px;
  }
  .step:nth-childurl(even) {
    align-self: center;
  }
  .step:nth-child(2n-1) {
    align-self: center;
  }
  .step__text {
    font-size: 14px;
  }
  .step__counter {
    font-size: 20px;
    padding: 12px;
    width: 48px;
    height: 48px;
  }
  .step {
    max-width: 323px;
  }
  .header .container {
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .section__btn {
    width: 320px;
    height: 52px;
    padding: 16px 32px;
    text-align: center;
    font-family: "Onest";
  }
  .accordeon__heading {
    font-size: 20px;
  }
  .topfooter .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .topfooter__tel {
    font-size: 20px;
  }
  .bottomfooter__items1 {
    display: none;
  }
  .bottomfooter__items {
    font-size: 14px;
    align-items: flex-start;
    text-align: start;
  }
  .bottomfooter__items_bg {
    color: var(--text-main);
  }
  .bottomfooter__wraps {
    flex-direction: column;
    order: 1;
    gap: 12px;
    align-items: flex-start;
  }
  .bottomfooter .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .bottomfooter__text {
    order: 2;
  }
  .article__title {
    font-size: 20px;
    font-family: var(--second-family);
  }
  .global__img {
    display: block;
  }
  .aside__head {
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .stepsection .container {
    gap: 24px;
  }
  .stepsection {
    padding: 40px;
    background-size: auto 147px, auto 194px, auto 1010px;
  }
  .stepsection__title {
  }
  .info__text,
  .info__read,
  .info__lists {
    font-size: 14px;
  }
  .section__title::after {
    content: "";
    right: -26px;
    top: -20px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../assets/img/Group99999999999.svg);
    overflow: visible;

    z-index: 1;
  }
  .section {
    background-position: bottom 0px left 0px, bottom 0px right 0px;
    background-size: auto 66px, auto 63px;
  }

  .info__items_bg,
  .info__items_bg1 {
    background: none;
  }
  .info__items img {
    display: block;
    width: 164px;
  }
  .info__items div {
    display: flex;
    justify-content: center;
  }
  .info__global {
    border-top: 1px solid var(--surface-secondary);
    margin-top: 21px;
    text-align: start;
  }
  .info__items {
    padding: 20px;
  }
  .aside {
    background-size: auto 175px, auto 48px;
    background-position: left -25px bottom 628px, right bottom;
  }
  .last::after {
    display: none;
  }
  .header .container {
    padding: 0px;
  }
  .header {
    padding: 16px 22px 16px 20px;
  }
  .section__title {
    line-height: 100%;
    letter-spacing: -0.02em;
  }
  .section__posttitle {
    margin-top: 12px;
    font-size: 16px;
  }
  .section__wraps {
    margin-top: 30px;
    gap: 12px;
  }
  .section__items {
    padding: 12px;
    gap: 8px;
  }
  .section__text {
    line-height: 143%;
    letter-spacing: -0.01em;
    width: 200px;
  }
  .section__btnmain {
    margin-top: 32px;
  }
  .section {
  }
  .global {
    margin-top: 28px;
  }
  .global__head {
    margin-bottom: 0px;
  }
  .global__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: var(--text-main);
    padding: 0px;
    width: 320px;
  }

  .aside__head {
    font-size: 32px;
    margin-top: 66px;
    margin-bottom: 31px;
  }
  .aside__items {
    padding: 20px;
    gap: 12px;
    width: 100%;
    max-width: 320px;
  }
  .aside__items img {
    width: 32px;
    height: 32px;
  }
  .aside__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: var(--text-main);
    width: 236px;
  }
  .aside__wraps {
    padding-bottom: 0px;
  }
  .stepsection {
    padding-top: 70px;
  }
  .step {
    width: 323px;
  }
  .step::after {
    content: "";
    background-image: url(../assets/img/Line\ 26511111111111111111111111.svg);
    width: 134px;
    height: 66px;
    position: absolute;
    top: 71px;
    right: 94px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .step:nth-child(even)::after {
    background-image: url(../assets/img/Line\ 266111111111111111.svg);
    right: 92px;
  }
  .stepsection__steplist {
    gap: 90px;
  }
  .steз:nth-child(odd) {
    align-self: center;
  }
  .step:nth-child(even) {
    align-self: center;
  }
  .article .container {
    margin-top: 48px;
  }
  .article {
    padding-left: 19px;
    padding-right: 22px;
  }
  .article__saleprice {
    padding: 8px 16px;
    border-radius: 8px;
  }
  .article__price {
    gap: 16px;
    margin-top: 20px;
  }
  .article__saleprice::before {
    width: 18px;
    height: 18px;
    top: 11px;
  }
  .article__saleprice::after {
    width: 18px;
    height: 18px;
    top: 11px;
  }
  .article .container {
    background-position: right 15px bottom -2px, right 33px bottom 0px;
    background-size: 90%;
    padding: 32px 48px 22px 48px;
  }
  .info {
    padding: 0px 20px;
  }
  .info .container {
    padding: 20px 20px;
    margin-top: 10px;
  }
  .info__text {
    margin: 0px;
  }
  .info__list {
    padding-left: 22px;
    gap: 0px;
  }
  .info__lists {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: var(--text-main);
  }
  .info__wraps {
    margin-top: 14px;
    gap: 12px;
  }
  .info__global_fix {
    margin: 0;
    border: 0;
  }
  .info__read {
    line-height: 143%;
    letter-spacing: -0.01em;
  }
  .info__items img {
    height: 88px;
  }
  .last {
    margin-top: 40px;
  }
  .accordeon {
    padding: 16px 20px;
  }
  .accordeon__list {
    margin-top: 24px;
  }
  .last__title {
    margin-top: 50px;
  }
}

@media (max-width: 425px) {
  .header .container {
    padding: 0px;
  }
  .header {
    padding: 16px 22px 16px 20px;
  }
  .section__title {
    line-height: 100%;
    letter-spacing: -0.02em;
  }
  .section__posttitle {
    margin-top: 12px;
    font-size: 16px;
  }
  .section__wraps {
    margin-top: 30px;
    gap: 12px;
  }
  .section__items {
    padding: 12px;
    gap: 8px;
  }
  .section__text {
    line-height: 143%;
    letter-spacing: -0.01em;
    width: 200px;
  }
  .section__btnmain {
    margin-top: 32px;
  }
  .section {
  }
  .global {
    margin-top: 28px;
  }
  .global__head {
    margin-bottom: 0px;
  }
  .global__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: var(--text-main);
    padding: 0px;
    width: 320px;
  }

  .aside__head {
    font-size: 32px;
    margin-top: 66px;
    margin-bottom: 31px;
  }
  .aside__items {
    padding: 20px;
    gap: 12px;
    width: 100%;
    max-width: 320px;
  }
  .aside__items img {
    width: 32px;
    height: 32px;
  }
  .aside__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: var(--text-main);
    width: 236px;
  }
  .aside__wraps {
    padding-bottom: 0px;
  }
  .stepsection {
    padding-top: 70px;
  }
  .step {
    width: 323px;
  }
  .step::after {
    content: "";
    background-image: url(../assets/img/Line\ 26511111111111111111111111.svg);
    width: 134px;
    height: 66px;
    position: absolute;
    top: 71px;
    right: 94px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .step:nth-child(even)::after {
    background-image: url(../assets/img/Line\ 266111111111111111.svg);
    right: 92px;
  }
  .stepsection__steplist {
    gap: 90px;
  }
  .steз:nth-child(odd) {
    align-self: center;
  }
  .step:nth-child(even) {
    align-self: center;
  }
  .article .container {
    margin-top: 48px;
  }
  .article {
    padding-left: 19px;
    padding-right: 22px;
  }
  .article__saleprice {
    padding: 8px 16px;
    border-radius: 8px;
  }
  .article__price {
    gap: 16px;
    margin-top: 20px;
  }
  .article__saleprice::before {
    width: 18px;
    height: 18px;
    top: 11px;
  }
  .article__saleprice::after {
    width: 18px;
    height: 18px;
    top: 11px;
  }
  .article .container {
    background-position: right 15px bottom -2px, right 33px bottom 0px;
    background-size: 90%;
    padding: 32px 48px 22px 48px;
  }
  .info {
    padding: 0px 20px;
  }
  .info .container {
    padding: 20px 20px;
    margin-top: 10px;
  }
  .info__text {
    margin: 0px;
  }
  .info__list {
    padding-left: 22px;
    gap: 0px;
  }
  .info__lists {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: var(--text-main);
  }
  .info__wraps {
    margin-top: 14px;
    gap: 12px;
  }
  .info__global_fix {
    margin: 0;
    border: 0;
  }
  .info__read {
    line-height: 143%;
    letter-spacing: -0.01em;
  }
  .info__items img {
    height: 88px;
  }
  .last {
    margin-top: 40px;
  }
  .accordeon {
    padding: 16px 20px;
  }
  .accordeon__list {
    margin-top: 24px;
  }
  .last__title {
    margin-top: 50px;
  }
  .section__posttitle,
  .topfooter__tel {
    font-size: 12px;
  }
  .section__posttitle {
    width: 100%;
    max-width: 320px;
  }
  .global__title,
  .article__title,
  .article__saleprice,
  .article__mainprice {
    font-family: "Onest";
    font-size: 20px;
  }
  .global__text {
    font-size: 10px;
  }

  .aside__title,
  .info__title,
  .info__global {
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: var(--text-main);
  }
  .aside__text {
    font-size: 14px;
  }
  .article__price {
    justify-content: center;
  }
  .article__btn {
    font-size: 16px;
    padding: 16px 32px;
    width: 280px;
    height: 52px;
    margin-top: 141px;
  }

  .bottomfooter__items {
    font-size: 8px;
  }
  .section__wraps {
    display: flex;
    flex-direction: column;
  }
  .aside__wraps {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .info__wraps {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .global__wraps {
    padding: 0px;
    background: none;
    display: flex;
    flex-direction: column;
    min-height: 290px;
    align-items: center;
  }
  .global .container {
    gap: 24px;
    padding: 0px 10px;
  }
  .global__title {
    margin-top: 12px;
    padding: 0px 10px;
  }
  .global__text {
    width: 100%;
    font-size: 14px;
    margin-top: 8px;
    padding: 0px 10px;
  }
  .global__img {
    display: block;
  }
  .section__text {
    width: 100%;
  }
  .section__items img {
    width: 88px;
    height: 88px;
  }
  .article__title {
    width: 224px;
    text-align: center;
  }
  .article .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 48px;
    align-items: center;
  }
  .step:nth-child(even)::after {
    right: 40px;
  }
  .step::after {
    right: 16px;
  }
  .step:nth-childurl(even) {
    align-self: center;
  }
  .step:nth-child(2n-1) {
    align-self: center;
  }
  .step__text {
    font-size: 14px;
  }
  .step__counter {
    font-size: 20px;
    padding: 12px;
    width: 48px;
    height: 48px;
  }
  .step {
    max-width: 323px;
  }
  .header .container {
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .section__btn {
    width: 320px;
    height: 52px;
    padding: 16px 32px;
    text-align: center;
    font-family: "Onest";
  }
  .accordeon__heading {
    font-size: 20px;
  }
  .topfooter .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .topfooter__tel {
    font-size: 20px;
  }
  .bottomfooter__items1 {
    display: none;
  }
  .bottomfooter__items {
    font-size: 14px;
    align-items: flex-start;
    text-align: start;
  }
  .bottomfooter__items_bg {
    color: var(--text-main);
  }
  .bottomfooter__wraps {
    flex-direction: column;
    order: 1;
    gap: 12px;
    align-items: flex-start;
  }
  .bottomfooter .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .bottomfooter__text {
    order: 2;
  }
  .article__title {
    font-size: 20px;
    font-family: var(--second-family);
  }
  .global__img {
    display: block;
  }
  .aside__head {
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .stepsection .container {
    gap: 24px;
  }
  .stepsection {
    padding: 40px;
    background-size: auto 147px, auto 194px, auto 1010px;
  }
  .stepsection__title {
  }
  .info__text,
  .info__read,
  .info__lists {
    font-size: 14px;
  }
  .section__title::after {
    content: "";
    right: -26px;
    top: -20px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../assets/img/Group99999999999.svg);
    overflow: visible;

    z-index: 1;
  }
  .section {
    background-position: bottom 0px left 0px, bottom 0px right 0px;
    background-size: auto 66px, auto 63px;
  }

  .info__items_bg,
  .info__items_bg1 {
    background: none;
  }
  .info__items img {
    display: block;
    width: 164px;
  }
  .info__items div {
    display: flex;
    justify-content: center;
  }
  .info__global {
    border-top: 1px solid var(--surface-secondary);
    margin-top: 21px;
    text-align: start;
  }
  .info__items {
    padding: 20px;
  }
  .aside {
    background-size: auto 175px, auto 48px;
    background-position: left -25px bottom 628px, right bottom;
  }
  .last::after {
    display: none;
  }
  .header .container {
    padding: 0px;
  }
  .header {
    padding: 16px 22px 16px 20px;
  }
  .section__title {
    line-height: 100%;
    letter-spacing: -0.02em;
  }
  .section__posttitle {
    margin-top: 12px;
    font-size: 16px;
  }
  .section__wraps {
    margin-top: 30px;
    gap: 12px;
  }
  .section__items {
    padding: 12px;
    gap: 8px;
  }
  .section__text {
    line-height: 143%;
    letter-spacing: -0.01em;
    width: 200px;
  }
  .section__btnmain {
    margin-top: 32px;
  }
  .section {
  }
  .global {
    margin-top: 28px;
  }
  .global__head {
    margin-bottom: 0px;
  }
  .global__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: var(--text-main);
    padding: 0px;
    width: 320px;
  }

  .aside__head {
    font-size: 32px;
    margin-top: 66px;
    margin-bottom: 31px;
  }
  .aside__items {
    padding: 20px;
    gap: 12px;
    width: 100%;
    max-width: 320px;
  }
  .aside__items img {
    width: 32px;
    height: 32px;
  }
  .aside__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: var(--text-main);
    width: 236px;
  }
  .aside__wraps {
    padding-bottom: 0px;
  }
  .stepsection {
    padding-top: 70px;
  }
  .step {
    width: 323px;
  }
  .step::after {
    content: "";
    background-image: url(../assets/img/Line\ 26511111111111111111111111.svg);
    width: 134px;
    height: 66px;
    position: absolute;
    top: 71px;
    right: 94px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .step:nth-child(even)::after {
    background-image: url(../assets/img/Line\ 266111111111111111.svg);
    right: 92px;
  }
  .stepsection__steplist {
    gap: 90px;
  }
  .steз:nth-child(odd) {
    align-self: center;
  }
  .step:nth-child(even) {
    align-self: center;
  }
  .article .container {
    margin-top: 48px;
  }
  .article {
    padding-left: 19px;
    padding-right: 22px;
  }
  .article__saleprice {
    padding: 8px 16px;
    border-radius: 8px;
  }
  .article__price {
    gap: 16px;
    margin-top: 20px;
  }
  .article__saleprice::before {
    width: 18px;
    height: 18px;
    top: 11px;
  }
  .article__saleprice::after {
    width: 18px;
    height: 18px;
    top: 11px;
  }
  .article .container {
    background-position: right 15px bottom -2px, right 33px bottom 0px;
    background-size: 90%;
    padding: 32px 48px 22px 48px;
  }
  .info {
    padding: 0px 20px;
  }
  .info .container {
    padding: 20px 20px;
    margin-top: 10px;
  }
  .info__text {
    margin: 0px;
  }
  .info__list {
    padding-left: 22px;
    gap: 0px;
  }
  .info__lists {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: var(--text-main);
  }
  .info__wraps {
    margin-top: 14px;
    gap: 12px;
  }
  .info__global_fix {
    margin: 0;
    border: 0;
  }
  .info__read {
    line-height: 143%;
    letter-spacing: -0.01em;
  }
  .info__items img {
    height: 88px;
  }
  .last {
    margin-top: 40px;
  }
  .accordeon {
    padding: 16px 20px;
  }
  .accordeon__list {
    margin-top: 24px;
  }
  .last__title {
    margin-top: 50px;
  }
}
@media (max-width: 360px) {
  .header .container {
    padding: 0px;
  }
  .header {
    padding: 16px 22px 16px 20px;
  }
  .section__title {
    line-height: 100%;
    letter-spacing: -0.02em;
  }
  .section__posttitle {
    margin-top: 12px;
    font-size: 16px;
  }
  .section__wraps {
    margin-top: 30px;
    gap: 12px;
  }
  .section__items {
    padding: 12px;
    gap: 8px;
  }
  .section__text {
    line-height: 143%;
    letter-spacing: -0.01em;
    width: 200px;
  }
  .section__btnmain {
    margin-top: 32px;
  }
  .section {
  }
  .global {
    margin-top: 28px;
  }
  .global__head {
    margin-bottom: 0px;
  }
  .global__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: var(--text-main);
    padding: 0px;
    width: 320px;
  }

  .aside__head {
    font-size: 32px;
    margin-top: 66px;
    margin-bottom: 31px;
  }
  .aside__items {
    padding: 20px;
    gap: 12px;
    width: 100%;
    max-width: 320px;
  }
  .aside__items img {
    width: 32px;
    height: 32px;
  }
  .aside__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: var(--text-main);
    width: 236px;
  }
  .aside__wraps {
    padding-bottom: 0px;
  }
  .stepsection {
    padding-top: 70px;
  }
  .step {
    width: 323px;
  }
  .step::after {
    content: "";
    background-image: url(../assets/img/Line\ 26511111111111111111111111.svg);
    width: 134px;
    height: 66px;
    position: absolute;
    top: 71px;
    right: 94px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .step:nth-child(even)::after {
    background-image: url(../assets/img/Line\ 266111111111111111.svg);
    right: 92px;
  }
  .stepsection__steplist {
    gap: 90px;
  }
  .steз:nth-child(odd) {
    align-self: center;
  }
  .step:nth-child(even) {
    align-self: center;
  }
  .article .container {
    margin-top: 48px;
  }
  .article {
    padding-left: 19px;
    padding-right: 22px;
  }
  .article__saleprice {
    padding: 8px 16px;
    border-radius: 8px;
  }
  .article__price {
    gap: 16px;
    margin-top: 20px;
  }
  .article__saleprice::before {
    width: 18px;
    height: 18px;
    top: 11px;
  }
  .article__saleprice::after {
    width: 18px;
    height: 18px;
    top: 11px;
  }
  .article .container {
    background-position: right 15px bottom -2px, right 33px bottom 0px;
    background-size: 90%;
    padding: 32px 48px 22px 48px;
  }
  .info {
    padding: 0px 20px;
  }
  .info .container {
    padding: 20px 20px;
    margin-top: 10px;
  }
  .info__text {
    margin: 0px;
  }
  .info__list {
    padding-left: 22px;
    gap: 0px;
  }
  .info__lists {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: var(--text-main);
  }
  .info__wraps {
    margin-top: 14px;
    gap: 12px;
  }
  .info__global_fix {
    margin: 0;
    border: 0;
  }
  .info__read {
    line-height: 143%;
    letter-spacing: -0.01em;
  }
  .info__items img {
    height: 88px;
  }
  .last {
    margin-top: 40px;
  }
  .accordeon {
    padding: 16px 20px;
  }
  .accordeon__list {
    margin-top: 24px;
  }
  .last__title {
    margin-top: 50px;
  }
}
